{% extends 'base.html.twig' %}

{% block title %}
    The Storeski
{% endblock title %}

{% block body %}
    <center>
        <div class="homePage_body"> 
            <h1>Welcome to the Storeski!</h1>
            <div class="homePage_featured">
                <h2>
                    Featured Items!
                </h2>
                {% for item in items %}
                    <a href="item/{{item.ItemId}}">
                        <div>
                            <p>{{ item.Fit.FitType }} {{ item.ItemName }}</p>                            
                            <div>
                                <img style="max-height: 300px;" src="/images/{{item.ItemId}}.jpg" alt="{{item.ItemName}} Pic">
                            </div>
                            <p>
                                ${{ item.Price }}
                            </p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </center>
{% endblock body %}